<%= render "layouts/header" %>

<div class="container">
  <div class="form-container edit-profile">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, autofocus: true %>
        <%= f.text_field :email, value: @mentor.email %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "inline" %> <em>(leave blank if you don't want to change it)</em>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password, :class => "inline" %> <em>(we need your current password to confirm your changes)</em>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "fill" %>
      </div>
    <% end %>

    <%= link_to "Cancel", :back, :class => "button small" %>
  </div>
</div>
