<h3><%= @mentor.name %> Availability</h3>

<p>mentor: <%= @mentor.time_zone %></p>
<p>current mentor: <%= current_mentor.time_zone %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <% @days.each do |day| %>
        <th><%= day.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% initial_time = Time.new('00:00') %>
    <% 24.times do |hour| %>
      <% current_time = initial_time + hour.send(:hours) %>
      <tr>
        <td><%= current_time.strftime("%H:%M") %></td>
        <% @days.each do |day| %>
          <% if @availabilities[day] && @availabilities[day].include?(current_time.hour) %>
            <td class="available">[++]</td>
          <% else %>
            <td class="unavailable">--</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
