<%= render "layouts/header" %>

<div class="container">
  <h1>Conversations</h1>

  <div class="conversations-container">
    <% @conversations.each do |conversation| %>
      <div class="conversations-row">
        <div class="mentor-photos">
          <% conversation.mentors.each do |mentor| %>
            <a href="<%= mentors_show_path(mentor) %>">
              <div class="mentor-image-container"><%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo inline" %></div>
            </a>
          <% end %>
        </div>
        <a href="<%= conversations_show_path(conversation) %>">
          <span class="message-subject"><%= conversation.subject %></span>
        </a>
        <a href="<%= conversations_show_path(conversation) %>">
          <span class="message-body"><%= conversation.messages.order(created_at: :desc).first.body.truncate(60) %></span>
        </a>
        <a href="<%= conversations_show_path(conversation) %>">
          <span class="message-count"><%= pluralize(conversation.messages.count, 'message') %></span>
        </a>
      </div>
    <% end %>
  </div>

</div>
