<%= render "layouts/header" %>

<div class="container">
  <% @conversation.mentors.each do |mentor| %>
    <% next if mentor == current_mentor %>
    <%= link_to mentors_show_path(mentor) do %>
      <%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo inline" %>
      <p><%= mentor.name %></p>
    <% end %>
  <% end %>

  <h2><%= @conversation.subject %></h2>

  <% @conversation.messages.order(created_at: :asc).each do |message| %>
    <p>From: <%= message.mentor.name %></p>
    <p>Sent at: <%= message.sent_at %></p>
    <p><%= message.body %></p>
  <% end %>
</div>
