<%= render "layouts/header" %>

<div class="container">
  <div class="message-container">
    <% @conversation.mentors.each do |mentor| %>
      <% next if mentor == current_mentor %>
      <a href="<%= mentors_show_path(mentor) %>">
        <div class="mentor-image-container">
          <%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo inline" %>
        </div>
      </a>
      <a href="<%= mentors_show_path(mentor) %>"><h3 class="message-sender center"><%= mentor.name %></h3></a>
    <% end %>

    <%= form_tag conversations_reply_path, method: :patch do |f| %>
      <%= hidden_field_tag :conversation_id, @conversation.id %>
      <%= hidden_field_tag :message_id, @conversation.most_recent_order.first.id %>

      <div class="field">
        <%= label_tag :reply %>
        <%= text_area_tag :body, "", placeholder: "Your reply..." %>
      </div>

      <div class="actions">
        <%= submit_tag "Reply", :class => "fill" %>
      </div>
    <% end %>

    <% @conversation.most_recent_order.each do |message| %>
      <h2 class="message-subject"><%= @conversation.subject %></h2>
      <p class="message-body"><%= message.body %></p>
      <div class="message-footer">
        <p class="message-time">Sent on <%= message.sent_at %></p>
      </div>
    <% end %>
  </div>
</div>
