<%= render "layouts/header" %>

<div class="container">
  <div class="message-container">
    <% @conversation.mentors.each do |mentor| %>
      <% next if mentor == current_mentor %>
      <a href="<%= mentors_show_path(mentor) %>">
        <div class="mentor-image-container">
          <%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo inline" %>
        </div>
      </a>
      <a href="<%= mentors_show_path(mentor) %>"><h3 class="message-sender center"><%= mentor.name %></h3></a>
    <% end %>

    <% @conversation.messages.order(created_at: :asc).each do |message| %>
      <h2 class="message-subject"><%= @conversation.subject %></h2>
      <p class="message-body"><%= message.body %></p>
      <div class="message-footer">
        <p class="message-time">Sent on <%= message.sent_at %></p>
        <a href="<%= mentors_show_path %>" class="button small">Reply</a>
      </div>
    <% end %>
  </div>
</div>
