<%= render "layouts/header" %>
<div class="container">
  <div class="form-container edit-mentor">
    <%= form_for @mentor, url: mentors_update_path, html: { multipart: true } do |f| %>

      <div class="field">
        <div class="photo-upload-container">
          <div class="mentor-image-container"><%= image_tag @mentor.profile_picture.url(:medium), :class => "mentor-photo" %></div>
          <%= f.file_field :profile_picture, :class => "mentor-photo-upload" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :name, autofocus: true %>
        <%= f.text_field :name, value: @mentor.name %>
      </div>

      <div class="field">
        <%= f.label :time_zone, "Time Zone" %>
        <div class="select">
          <%= f.select(:time_zone, ActiveSupport::TimeZone.us_zones.collect { |tz| tz.name }) %>
        </div>
      </div>

      <div class="field">
        <%= f.label :about, "About" %>
        <%= f.text_area :about, value: @mentor.about %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "fill" %>
      </div>
    <% end %>
  </div>
</div>
