<%= render "layouts/header" %>

<div class="mentors">
  <div class="container">
    <div id="js-list">
      <div class="search-container">
        <div class="skill-search">
          <span class="search-wrapper">
            <i class="icon-search"></i>
            <%= text_field_tag 'skill search', nil, placeholder: 'Search skills', class: 'search' %>
          </span>
          <span class="sort" data-sort="js-mentor-name">Sort by name</span>
        </div>
      </div>
      <div class="mentor-list list">
        <% @mentors.each do |mentor| %>
          <div class="card effect__click">
            <div class="card__front">
              <span class="social-links"><i class="icon-dot-3"></i></span>
              <div class="mentor-image-container"><%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo" %></div>
              <%= link_to mentors_show_path(mentor) do %>
                <h2 class="mentor-name js-mentor-name ellipsis" title="<%= mentor.name %>" alt="<%= mentor.name %>"><%= mentor.name %></h2>
              <% end %>
              <p class="mentor-skills js-mentor-skills ellipsis"><%= Skill.all.sample.name %>, <%= Skill.all.sample.name %>, <%= Skill.all.sample.name %></p>
              <%= link_to "View Profile", mentors_show_path(mentor), class: "button x-small" %>
            </div>
            <div class="card__back">
              <span class="social-links"><i class="icon-dot-3"></i></span>
              <div class="social-link-icons">
                <a href="http://github.com" class="" target="_blank"><i class="icon-github-circled"></i></a>
                <a href="http://github.com" class="present" target="_blank"><i class="icon-twitter-circled"></i></a>
                <a href="http://github.com" class="present" target="_blank"><i class="icon-linkedin-circled"></i></a>
                <a href="http://github.com" class="present" target="_blank"><i class="icon-dribbble-circled"></i></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <ul class="pagination">
      </ul>
    </div>
  </div>
</div>

<script>
var options = {
  valueNames: ['js-mentor-skills', 'js-mentor-name'],
  page: 25,
  plugins: [ ListPagination({}) ]
};

var list = new List("js-list", options);

</script>
<%= render "layouts/footer" %>
