<%= render "layouts/header" %>
<div class="mentors">
  <div class="container">
    <ul class="mentor-list">
      <% @mentors.each do |mentor| %>
        <li class="mentor-card">
          <%= link_to mentor_show_path(mentor) do %>
            <%= image_tag mentor.profile_picture.url(:thumb), class: "mentor-photo" %>
            <h2><%= mentor.name %></h2>
          <% end %>
          <p class="mentor-skills">JavaScript, Ruby on Rails</p>
          <%= link_to "View Profile", mentor_show_path(mentor), class: "button x-small" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "layouts/footer" %>
