<%= render "layouts/header" %>

<div class="mentor-profile">
  <div class="profile-header">
    <div class="container">
        <div class="mentor-image-container">
            <%= image_tag @mentor.profile_picture.url(:medium), class: "mentor-photo" %>
        </div>
      <h1><%= @mentor.name %></h1>
      <% if @mentor == current_mentor %>
        <div class="profile-menu">
          <p><%= link_to('Edit Skills', mentor_skills_edit_path, class: "button x-small") %></p>
          <p><%= link_to('Edit Availability', availabilities_edit_path, class: "button x-small") %></p>
          <p><%= link_to('Settings', mentors_edit_path, class: "button x-small") %></p>
          <p><%= link_to('Change Password', edit_mentor_registration_path, class: "button x-small") %></p>
        </div>
      <% end %>
    </div>
    <div class="container profile-bio">
      <p><%= link_to('Message', conversations_new_path(receiver_id: @mentor.id), class: "button x-small") %></p>
      <h4>Time Zone</h4>
      <p><%= @mentor.time_zone %></p>
      <h4>Availabilities</h4>
      <%= render partial: "shared/availabilities_index", locals: { availabilities: @availabilities, hour_range: [*8..20] } %>
      <div class="wide-button">
        <%= link_to availabilities_path(@mentor) do %>
          <button class="button">View 24 Hour Availability</button>
        <% end %>
      </div>
      <h4>Skills</h4>
      <% @mentor.skills.each do |skill| %>
        <p><%= skill.name %></p>
      <% end %>
      <h4>About <%= @mentor.name %></h4>
      <p><%= @mentor.about %></p>
    </div>
  </div>
</div>
