<%= render "layouts/header" %>

<div class="mentor-profile">
  <div class="container profile-header">
    <div class="mentor-image-container"><%= image_tag @mentor.profile_picture.url(:medium), class: "mentor-photo" %></div>
    <h1><%= @mentor.name %></h1>
    <% if @mentor == current_mentor %>
      <div class="profile-menu">
        <p><%= link_to('Settings', mentor_edit_path, :class => "button x-small") %></p>
        <p><%= link_to('Change Password', edit_mentor_registration_path, :class => "button x-small") %></p>
      </div>
    <% end %>
  </div>
  <div class="container profile-bio">
    <h4>About <%= @mentor.name %></h4>
    <p>
      Frank Lloyd Wright (born Frank Lincoln Wright, June 8, 1867 – April 9, 1959)
      was an American architect, interior designer, writer, and educator, who
      designed more than 1,000 structures, 532 of which were completed. Wright
      believed in designing structures that were in harmony with humanity and its
      environment, a philosophy he called organic architecture. This philosophy
      was best exemplified by Fallingwater (1935), which has been called "the
      best all-time work of American architecture".[1] Wright was a leader of
      the Prairie School movement of architecture and developed the concept of
      the Usonian home, his unique vision for urban planning in the United States.
      Frank Lloyd Wright was an architect for about 70 years.
    </p>
  </div>
</div>
