<%= render "layouts/header" %>

<div class="select-skills">
  <div class="container">
    <%= form_tag(mentor_skills_update_path, method: :patch) do %>
      <% @mentor_skills.each do |mentor_skill| %>
        <div class="field">
          <%= check_box_tag mentor_skill.id, mentor_skill.id, true, name: "skills[]" %>
          <%= label_tag mentor_skill.id, mentor_skill.name %>
        </div>
      <% end %>

      <% @skills.each do |skill| %>
        <div class="field">
          <%= check_box_tag skill.id, skill.id, false, name: "skills[]" %>
          <%= label_tag skill.id, skill.name %>
        </div>
      <% end %>

      <div class="action-buttons">
        <p><%= link_to "Cancel", :back, :class => "button" %></p>
        <p><%= submit_tag "Update", :class => "fill" %></p>
      </div>

    <% end %>

  </div>
</div>
