<!DOCTYPE html>
<html>
<head>
  <title>OpenMentor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if mentor_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_mentor_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_mentor_session_path)  %>
    </li>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
