<!DOCTYPE html>
<html>
<head>
  <title>OpenMentor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/zqc3iyd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <% %w(notice alert).each do |flash_message| %>
    <% if flash[flash_message] %>
      <p class="<%= flash_message %>"><%= flash[flash_message] %></p>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>
